* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.con {
  margin-bottom: 50px;
  border: 1px solid #eee;
}

header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
}

.bg {
  height: 400px;
  background-color: lightgray;
}

.bottom_wrap {
  padding: 20px 10px;
}

.heart {
  color: gray;
  font-size: 20px;
  cursor: pointer;
}

.fa-solid {
  color: crimson;
}
